:root {
  /* color variables */
  --main-color: indigo;
  --accent-color-1: violet;
  --accent-color-2: purple;
  --accent-color-3: darkmagenta;
  --accent-color-4: darkblue;
  --accent-color-5: white;
  --accent-color-6: black;


}

@font-face {
  font-family: "Aladin";
  src: url(./assets/Aladin-Regular.ttf);
}

#content {
  border: solid 1px var(--main-color);
  border-radius: 10px;
  padding: 10px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  font-family: Aladin;
  text-align: center;
}

.input-label {
  display: flex;
  flex-direction: column;
}

.expand-proj[expanded="true"] {
  display: inline;
}

.expand-proj[expanded="false"] {
  display: none;
}

@media screen and (max-width: 500px) {
  .expand-proj[expanded="true"] {
    display: flexbox;
    flex-direction: column;
  }
}

table {
  width: 100%;
}

.expand-task[expanded="true"] {
  display: table-row;
  width: 100%;
}

.expand-task[expanded="false"] {
  display: none;
}

[completed="true"] {
  text-decoration: line-through;
  color: gray;
}

.expand-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 500px) {
  .expand-sections {
    display: flex;
    flex-direction: column;
  }
}

th {
  border: solid 1px black;
}

td {
  border: solid 1px black;
  display: table-cell;
}